click
cmake
enum-compat
enum34
eventlet==0.30.2
Flask
Flask-SocketIO
gevent
gevent-websocket
greenlet
gunicorn
dlib>=19.3.0
itsdangerous
Jinja2
MarkupSafe
numpy
olefile
opencv-python
Pillow==9.0.0
python-engineio
python-socketio
redis
six
Werkzeug
face_recognition